@page
@model Bookware.Pages.Education_Pages.AllEducationsModel
@{
}

<h1>Uddannelser for Zealand</h1>

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<a class="btn btn-primary m-2" asp-page="/Education_Pages/CreateEducation">Create Education</a>
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Uddannelse navn</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Educations != null)
            {
                @foreach (var item in Model.Educations)
                {
                    <tr>
                        <td>@item.EduId</td>
                        <td>@item.EduName </td>
                        <td>
                            @foreach (var eduSub in item.EduSubs)
                            {
                                <p>@eduSub.Subject.SubjectName</p>
                            }
                        </td>
                        <td>
                            <a asp-page="/Subject_Pages/AllSubjects" asp-route-id="@item.EduId" class="btn btn-primary">Add Subject</a>
                            <a asp-page="/Education_Pages/EducationDetails" asp-route-id="@item.EduId" class="btn btn-primary">Details</a>
                            <a asp-page="/Education_Pages/UpdateEducation" asp-route-id="@item.EduId" class="btn btn-primary">Update</a>
                             <form asp-page-handler="Delete" method="post" asp-route-id="@item.EduId" onclick="return confirm('Are you sure you want to delete?')">
                            <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>