@page
@model Bookware.Pages.Education_Pages.EducationDetailsModel
@{
}
<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Education!.EduId)   </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Education!.EduId)  </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Education!.EduName)   </dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Education!.EduName)  </dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Education!.EduSubs) </dt>
        <dd class="col-sm-10">
            <table class="table text-center">
                <tr>
                    <th scope="col">Education Name</th>
                    <th scope="col">Subjects</th>
                </tr>
                @foreach (var cb in Model.Education!.EduSubs)
                {
                    <tr>
                        <td>@cb.Edu.EduName</td>
                        <td>@cb.Subject.SubjectName</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>