@page
@model Bookware.Pages.Order_Pages.OrderViewModel
@{
    ViewData["Title"] = "Order";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div class="container">  
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Class.ClassId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Class.ClassId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Class.ClassName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Class.ClassName)</dd>
    </dl>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center caption-top">
            <caption>List of Orders</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Orders</th>
                    <th scope="col" class="col-1">
                        @if (Model.Orders is not null && Model.Orders.Count() > 0)
                        {
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target=".tr-orders" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-list"></i></button>
                        }
                    </th>
                </tr>
            </thead>
            <tbody class="table-yellow">
                @if (Model.Orders is not null && Model.Orders.Count() > 0)
                {
                    <tr class="collapse tr-orders">
                        <td colspan="2">
                            <div class="collapse tr-orders">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col" class="col-1">Order Id</th>
                                            <th scope="col">Book Title</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-yellow">
                                        @foreach (var order in Model.Orders)
                                        {
                                            <tr>
                                                <td>@order.OrderId</td>
                                                <td>@order.Cb.Book.Title</td>
                                                <td>@order.Amount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>