@page
@model Bookware.Pages.Class_Pages.ClassDetailsModel
@{
    ViewData["Title"] = "Class Details";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div>
    <dl class="row">
        
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Class!.ClassId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(Model => Model.Class!.ClassId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Class!.ClassName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(Model => Model.Class!.ClassName)</dd>           
    </dl>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Education</th>
                    <th>Subjects</th>
                </tr>
            </thead>
            <tbody class="table-yellow">
                @foreach (var sub in Model.Class!.TeacherClasses)
                {
                    <tr>
                        <td>@sub.TeachEdu.EduSub.Edu.EduName</td>
                        <td>@sub.TeachEdu.EduSub.Subject.SubjectName</td>
                    </tr>
                }

            </tbody>
        </table>

        <table class="table table-hover table-bordered" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Students</th>
                    <th style="width:5%">Button</th>
                </tr>
            </thead>
            <tbody class="table-yellow">
                @foreach (var stu in Model.Class!.Students)
                {
                    <tr >
                        <td colspan="2">@stu.StudentName</td>
                    </tr>
                }
            </tbody>    
        </table>

        <table class="table table-hover table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Books</th>
                </tr>
            </thead>
            <tbody class="table-yellow">
                @foreach (var b in Model.Class!.ClassBooks)
                {
                    <tr>
                        <td>@b.Book.Title</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>