@page
@model Bookware.Pages.Subject_Pages.AllSubjectsModel
@{
    ViewData["Title"] = "Subjects";
}
<h1 class=" display-4 text-center">@ViewData["Title"]</h1>
<p>
    <a asp-page="/Subject_Pages/AddSubject">Add Subject</a>
</p>
<div class="text-md-start">
    <table class=" table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Subjects != null)
            {
                @foreach(var item in Model.Subjects)
                {
                    <tr>
                        <td>@item.SubjectId</td>
                        <td>@item.SubjectName</td>
                        <td class="justify-content-between">
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">Actions</button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="SubjectDetails" asp-route-id="@item.SubjectId" class="btn btn-primary"> Details </a></li>
                                    <li><a asp-page="EditSubject" asp-route-id="@item.SubjectId" class="btn btn-primary"> Edit </a></li>
                                    <li>
                                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.SubjectId" onclick="return confirm('Are you sure you wan to delete?')">
                                        <button class="btn btn-primary" type="Submit">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
