@page
@model Bookware.Pages.Subject_Pages.SubjectDetailsModel
@{
    ViewData["Title"] = "Subject Details";
}
<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Subject!.SubjectId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Subject!.SubjectId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Subject!.SubjectName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Subject!.SubjectName)</dd>        
    </dl>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center caption-top">
            <caption>List of Educations</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Educations</th>
                    <th scope="col" class="col-1">
                        @if (Model.Subject!.EduSubs is not null && Model.Subject!.EduSubs.Count > 0)
                        {
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target=".tr-@Model.Subject.SubjectId" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-list"></i></button>
                        }
                    </th>
                </tr>
            </thead>
            <tbody class="table-yellow">
                @if (Model.Subject!.EduSubs is not null && Model.Subject!.EduSubs.Count > 0)
                {
                    <tr class="collapse tr-@Model.Subject.SubjectId">
                        <td colspan="2">
                            <div class="collapse tr-@Model.Subject.SubjectId">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col" class="col-1">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Teacher</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-yellow">
                                        @foreach (var eduSub in Model.Subject.EduSubs)
                                        {
                                            @foreach (var teacherEdu in eduSub.TeacherEdus)
                                                {
                                                    <tr>
                                                        <td>@eduSub.Edu.EduId</td>
                                                        <td>@eduSub.Edu.EduName</td>
                                                        <td>@teacherEdu.Teacher.Name</td>
                                                    </tr>                                                    
                                                }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
