@page
@model Bookware.Pages.Student_Pages.StudentDetailsModel
@{
    ViewData["Title"] = "Student Details";
}
<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Student!.StudentId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Student!.StudentId)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Student!.StudentName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Student!.StudentName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Student!.Address)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Student!.Address)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Student!.StartDate)</dt>
        <dd class="col-sm-10">@Model.Student!.StartDate.ToLongDateString()</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Student!.ClassId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Student!.ClassId)</dd>
        
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Books?</th>
                            <th>Classes</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </dd>
    </dl>
</div>

