@page
@model Bookware.Pages.Education_Pages.AddTeacherEduModel
@using Bookware.Models
@{
    ViewData["Title"] = "Add Subject";
}

            
<div class="card bg-yellow">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.TeacherId" class="form-control" type="number" placeholder="@Html.DisplayNameFor(T => T.Teacher!.TeacherId)" readonly />
                            <label asp-for="Teacher!.TeacherId">@Html.DisplayNameFor(T => T.Teacher!.TeacherId)</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.Name" class="form-control" type="text" placeholder="@Html.DisplayNameFor(T => T.Teacher!.Name)" readonly />
                            <label asp-for="Teacher!.Name">@Html.DisplayNameFor(T => T.Teacher!.Name)</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <select asp-for="EduSub!.EduSubId" asp-items="Model.EduSubOptions" class="form-control">
                                <option value="">Select Education with Subject</option>
                            </select>
                            <label asp-for="EduSub!.EduSubId">Education</label>
                            <span asp-validation-for="EduSub!.EduSubId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Create" name="Add" asp-page-handler="Create" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="AllTeachers">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
