@page
@model Bookware.Pages.Education_Pages.AddTeacherEduModel
@using Bookware.Models
@{
}

            
<div class="card">
    <div class="card-header">
        <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <div class="align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form method="post">
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.TeacherId" class="form-control" type="number" placeholder="@Html.DisplayNameFor(T => T.Teacher!.TeacherId)" readonly />
                            <label asp-for="Teacher!.TeacherId">@Html.DisplayNameFor(T => T.Teacher!.TeacherId)</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input asp-for="Teacher!.Name" class="form-control" type="text" placeholder="@Html.DisplayNameFor(T => T.Teacher!.Name)" readonly />
                            <label asp-for="Teacher!.Name">@Html.DisplayNameFor(T => T.Teacher!.Name)</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <form method="post" asp-page-handler="Update">
                                <select asp-for="Education!.EduId" class="form-control" onchange="@Model.OnPostUpdateAsync(Model.Education)">
                                    <option value="">Select Education</option>
                                    @foreach (var item in Model.Educations!)
                                    {
                                        <option value="@item.EduId">@item!.EduName</option>
                                    }
                                </select>
                                <label>Education</label>
                            </form>
                        </div>
                        <p> data: @Model.data</p>
                        <div class="form-group form-floating mb-3">
                            <select asp-for="EduSub!.SubjectId" class="form-control">
                                <option value="">Select Subject</option>
                                @foreach (var item in Model.EduSubs!.Where(x => x!.EduId == Model.Education!.EduId))
                                {
                                    <option value="@item.EduSubId">@item!.Subject!.SubjectName</option>
                                }
                            </select>
                            <label>Subject</label>
                        </div>
                        <div class="form-group mb-3">
                            <input type="submit" value="Create" class="btn btn-success" />
                            <a class="btn btn-danger" asp-page="/Education_Pages/AllEducations">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
