@page
@model Bookware.Pages.Teacher_Pages.AllTeachersModel
@{
    ViewData ["Title"] = "All Teachers";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn-dark" asp-page="AddTeachers"><i class="bi bi-person-add"></i> Add Teacher</a>

<div class="table-responsive">
    <table class="table table-hover table-bordered caption-top text-center">
        <caption>List of Teachers</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody class="table-yellow">
            @if (Model.Teachers != null)
            {
                @foreach (var item in Model.Teachers)
                {
                    <tr>
                        <td>@item.TeacherId</td>
                        <td>@item.Name </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="TeacherDetails" asp-route-Tid="@item.TeacherId" class="dropdown-item"><i class="bi bi-journal-text"></i> Details</a></li>
                                    <li><a asp-page="AddTeacherEdu" asp-route-Tid="@item.TeacherId" class="dropdown-item"><i class="bi bi-plus"></i> Add Subject</a></li>
                                    <li><a asp-page="RemoveTeacherEdu" asp-route-Tid="@item.TeacherId" class="dropdown-item"><i class="bi bi-dash"></i> Remove Subject</a></li>
                                    <li><a asp-page="EditTeachers" asp-route-id="@item.TeacherId" class="dropdown-item"><i class="bi bi-pen"></i> Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.TeacherId" onclick="return confirm('Are you sure you want to delete?')">
                                            <button class="dropdown-item text-danger"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>










