@page
@model Bookware.Pages.Teacher_Pages.AllTeachersModel
@{
    ViewData ["Title"] = "Teachers";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>

<a class="btn btn-dark" asp-page="AddTeachers"><i class="bi bi-person-add"></i> Add Teacher</a>

<div class="table-responsive">
    <table class="table table-hover table-bordered caption-top text-center">
        <caption>List of Teachers</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col" class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Teachers != null)
            {
                @foreach (var item in Model.Teachers)
                {
                    <tr>
                        <td>@item.TeacherId</td>
                        <td>@item.Name </td>

                        <td>
                            <div class="btn-group">
                                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="TeacherDetails" asp-route-id="@item.TeacherId" class="dropdown-item"><i class="bi bi-journal-text"></i> Details</a></li>
                                    <li><a asp-page="EditTeachers" asp-route-id="@item.TeacherId" class="dropdown-item"><i class="bi bi-pen"></i> Edit</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-page-handler="Delete" method="post" asp-route-id="@item.TeacherId" onclick="return confirm('Are you sure you want to delete?')">
                                            <button class="dropdown-item text-danger"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>

                        @*<td class="justify-content-between">
                            <a asp-page="/Teacher_Pages/EditTeachers" asp-route-id="@item.TeacherId" class="btn btn-primary">Edit</a>
                            <form asp-page-handler="Delete" method="post" asp-route-id="@item.TeacherId" onclick="return confirm('Are you sure you want to delete?')">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>

    @*<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Title Example</h4>
                </div>
                <div class="modal-body">
                    <p>Testing 1 </p>
                    <p>Testing 2 </p>
                    <p>Testing 3 </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@

</div>










